.logros {
  width: 100%;
  padding: 60px 20px;
  background-color: #fff;
}

.logro-form {
  margin-bottom: 20px;
}

.logro-form input {
  padding: 8px;
  width: 300px;
  max-width: 100%;
}

.logro-form button {
  padding: 8px 12px;
  margin-left: 5px;
}
